<% if logged_in? -%>
  <ul>
    <li id="user-bar-greeting">Hi there, <%= link_to_current_user :content_method => :login %></li>
    <li id="user-bar-action"><%= link_to "Log out", logout_path, { :title => "Log out" }    %></li>
  </ul>
<% else -%>
  <ul>
    <li id="user-bar-greeting"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></li>
    <li id="user-bar-action"  ><%= link_to "Log in",  login_path,  { :title => "Log in" } %> or
                               <%= link_to "Sign up", signup_path, { :title => "Create an account" } %></li>
  </ul>
<% end -%>
